/*
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.owl-carousel .owl-item a.car_image:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    /* background: rgba(51, 28, 31, 0.4); */
   background: -webkit-linear-gradient(bottom, rgba(45, 45, 45, 0.47), transparent)!important;
    background: -moz-linear-gradient(bottom, rgba(45, 45, 45, 0.47), transparent)!important;
    background: -o-linear-gradient(bottom, rgba(45, 45, 45, 0.47), transparent)!important;
    background: linear-gradient(to top, rgba(45, 45, 45, 0.47), transparent)!important;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
	float: left;
}

.owl-sponsors {
	padding: 0 100px;
	margin-bottom: 55px!important;
}

.owl-sponsors .owl-carousel .owl-item{
	float:none;
	display: inline-block;
    text-align: center;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	display:block!important;
}

.owl-buttons .owl-prev {
	top: -20px;
	left: -80px;
}

.owl-buttons .owl-next {
	top: -20px;
	right: -80px;
}

.owl-buttons .owl-prev:before {
	content: '\f104';
	font-family: 'FontAwesome';
	display: block;
	position: static;
	font-size: 43px;
	font-weight: bold;
}

.owl-buttons .owl-next:before {
	content: '\f105';
	font-family: 'FontAwesome';
	display: block;
	position: static;
	font-size: 43px;
	font-weight: bold;
}



/* mouse grab icon */
.grabbing {
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  position:relative;
}

.owl-sponsors .owl-carousel .owl-wrapper, .owl-sponsors .owl-carousel .owl-item {
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    position: relative;
}

.ncategory{
    position: absolute;
    top: 20px;
    left: 20px;
    margin-bottom: 7px;
    display: inline-block;
    border-radius: 0px;
    text-transform: uppercase;
    padding: 4px 12px;
    color: #fff !important;
}

.ncategory:hover {
	color: #fff;
}

.post-meta span, .carousel-text {
	color: #fff;
	cursor: pointer;
}

.post-meta i {
	font-size: 18px;
	margin-right: 5px;
}

.car_title{
	position:absolute;
	bottom:0px;
	left:0px;
	padding: 15px 20px;
	z-index:2;
	transition: all .35s;
    -moz-transition: all .35s;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    color: #ccc;
}
.car_title  .car_inner_title{
    font-size: 18px;
    color: white;
    display: block;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.47) !important;
}

.car_title  .car_inner_title {
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 10px;
}
.owl-item:hover .car_title{
	bottom:10px;
}
.owl-item:hover .car_title a{
	color:white;
}
.car_title a{
	color: #ccc;
}
.owl-item .car_image:after, .newsb-thumbnail a:after, .ins_widget ul li a:after, .blog-image a:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    z-index: 1;
    opacity:0;
    transition: all .35s;
    -moz-transition: all .35s;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
  }

 .owl-item .car_image:after {
 	height: 60%;
 }
  .newsb-thumbnail a:after {
    opacity: 0.6;
}
.newsb-thumbnail:hover a:after, .newsbv li:hover .newsb-thumbnail a:after, .newsbh li:hover .newsb-thumbnail a:after, .blog-image:hover a:after{
    opacity: 0;
}
.owl-item:hover .car_image:after {
	opacity:.8;
}
.owl-carousel .owl-item a.car_image{
	display:block;
	background:url(../../../img/itemcbg.html) no-repeat top right,linear-gradient(to bottom left,rgba(0, 0, 0, 0)-50%,rgb(42, 42, 52) 70%,rgb(31, 30, 36) 100%);
}
.owl-carousel .owl-item a img{
	width:100%;
	opacity: 1;
	    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}
.owl-carousel .owl-item:hover a img{
	width:100%;
	opacity: 1;
}

.carousel_rating {
	display:none;
}
