.widget_latest_twitter_widget{ text-align: left; padding: 15px 0px 0px; list-style:none; }


.latest-twitter-tweet{
font-style: italic;
margin: 0px 0px 0px 0px;
border-bottom: 1px solid rgba(255,255,255,0.1);
padding: 20px; }

.footer_widget .latest-twitter-tweet{
	    color: #ccc;
}
#latest-twitter-follow-link {
	padding: 20px;
}


#latest-twitter-widget-icon, #latest-twitter-widget-pic{ float: left; border: 0px; margin-right: 5px; }


.latest-twitter-tweet-time{ font: 9pt/12pt arial; color: #999999; margin-bottom: 10px; }


