.widget .clanwar-list .icon{
	width:auto;
	height:auto;
}
.widget .clanwar-list .home-team {
	color: #777;
}

.widget .clanwar-list .home-team, .widget .clanwar-list .vs, .widget .clanwar-list .opponent-team{
	display: inline-block;
	font-weight: bolder;
	font-size: 13px;
	text-transform: uppercase;
	font-family: 'Open Sans';
}
.widget .clanwar-list .vs{
	color:#999999;
	margin:0px 0px 0px 5px;
}
.widget .clanwar-list {
	margin: 0;
	padding: 0!important;
	background-color: transparent;
}

.widget .clanwar-list .widgettitle {
	margin: 12px 12px 0px 12px;
}

.widget ul.clanwar-list li.clanwar-item {
	padding: 0;
	position: relative;
	zoom: 1;
	border: none;
	background: transparent;
	transition:all 0.35s ease-in-out;
    -moz-transition:all 0.35s ease-in-out;
    -webkit-transition:all 0.35s ease-in-out;
    -o-transition:all 0.35s ease-in-out;
}

.widget ul.clanwar-list li.clanwar-item:before {
	content: '';
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition:all 0.35s ease-in-out;
    -moz-transition:all 0.35s ease-in-out;
    -webkit-transition:all 0.35s ease-in-out;
    -o-transition:all 0.35s ease-in-out;
}

.widget ul.clanwar-list li.clanwar-item:hover:before {
	border-left: 2px solid;
	transition:all 0.35s ease-in-out;
    -moz-transition:all 0.35s ease-in-out;
    -webkit-transition:all 0.35s ease-in-out;
    -o-transition:all 0.35s ease-in-out;
    opacity: 1;
}

.no-js .widget .clanwar-list .tabs {
	display: none;
}

.widget-area .widget .tabs,
.widget .clanwar-list .tabs, .clanwarlist-page > li:first-child ul.tabs {
	overflow: hidden;
	margin: 0;
	padding: 0;
	background: url(../img/widgetback.png) right center repeat-x;
	box-shadow: inset 0px 4px 60px rgba(0,0,0,.8)
}

.clanwarlist-page > li:first-child ul.tabs {
	background: url(../img/matches-cat.png) 90% 30% no-repeat;
}

.sidebar-content-block ul.container .tabs li {
	padding: 0 2px;
	margin: 3px 3px 3px 0;
}

.widget .clanwar-list .tabs li {
	display: inline-block;
	border:none;
	padding: 0;
	margin: 0;
	line-height: 21px;
}

.widget .clanwar-list > li:first-child{
	padding: 0;
	margin: 0;
}

.widget .clanwar-list .tabs li:hover,
.widget .clanwar-list .tabs li.selected {
	background: none;
}

.clanwar-list .tabs li a {
	display: block;
}

.widget .clanwar-list li:first-child .tabs li a, .widget .clanwar-list .tabs li:hover a {
	border: none;
    box-shadow: none;
    padding: 7px 24px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.widget .clanwar-list .tabs li:hover a, .widget .clanwar-list .tabs li.selected a, .clanwar-list li ul.tabs li:hover, .clanwar-list li ul.tabs li a:hover,  .clanwar-list li ul.tabs li.selected a {
	background: -webkit-linear-gradient(#574f5b, #000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#574f5b, #000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#574f5b, #000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#574f5b, #000); /* Standard syntax */
}


.widget ul.clanwar-list li.clanwar-item .wrap {
	margin: 0;
	padding: 20px 35px;
	position: relative;
	transition:all 0.35s ease-in-out;
    -moz-transition:all 0.35s ease-in-out;
    -webkit-transition:all 0.35s ease-in-out;
    -o-transition:all 0.35s ease-in-out;
}

.widget ul.clanwar-list li.clanwar-item .icon {
	position: absolute;
	top: 5px;
}

.widget ul.clanwar-list li.clanwar-item.alt {}

.clanwar-list .scores,
.clanwar-list .upcoming,
.wp-clanwars-list .upcoming,
.wp-clanwars-list .scores.loose, .wp-clanwars-page .scores.loose,
.wp-clanwars-list .scores.win, .wp-clanwars-page .scores.win,
.widget .clanwar-list .playing
{
    text-align: center;
    letter-spacing: 1px;
    padding: 13px 55px 13px 55px;
    font-size: 16px;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    height: auto;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    display: block;
}

.clanwarlist-page .upcoming, .clanwarlist-page .scores {
	padding: 13px;
	width: 145px;
}


.widget .clanwar-list .scores,
.widget .clanwar-list .upcoming,
.widget .clanwar-list .playing{
    display: inline-block;
    float: none;
    box-shadow: none;
    background: transparent;
    border: none;
    font-size: 16px;
    color: #fff;
    vertical-align: top;
    padding: 0;
    margin: 13px 0px;
    text-align: center;
    width: 85px;
}

.widget .clanwar-list .upcoming {
	color: #fff;
	letter-spacing: 0;
}

@-webkit-keyframes pulse {
	0% {
	 background-color: #7a4a77;
	}
	50% {
	 background-color: #6492ac;
	}
	100% {
	 background-color: #7a4a77;
	}
}

.widget .clanwar-list .playing {
	color: #fff;
	background-color: #6492ac;
	letter-spacing: 0;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
}

.widget .clanwar-list .date {
	font-size: 12px;
	color: #777;
	float: right;
	min-width: 90px;
	text-transform: uppercase;
	font-weight: normal;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.widget .clanwar-list .r-opponent-team {
	color:#333;
}

.widget .clanwar-list li.clanwar-item a:hover {
	border-bottom: 0;
}


/* Match page */

.match-page {
}
.results-main-bg{
	padding: 52px;
    background: url(../img/clanwars-single.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom: 0;
    min-height: 270px;
}
.results-main{
	width:100%;
	position:relative;
	text-align: center;
}

.r-home-team{
	display:inline-block;
	font-size:14px;
	color:#ffffff;
	text-transform:uppercase;
	margin-right: 120px;
}

.r-home-team img, .r-opponent-team img {
	width: 96px;
	height: 96px;
	border-radius: 5px;
}
.r-opponent-team{
	display:inline-block;
	font-size:14px;
	color:#ffffff;
	text-transform:uppercase;
}
.r-home-team p, .r-opponent-team p {
	display: none;
}
.r-home-team span, .r-opponent-team span {
	font-size: 17px;
	font-weight: bold;
}
.r-home-team-score, .r-opponent-team-score{
    font-size: 18px;
    font-weight: bold;
}
.r-home-team-score.victory, .r-opponent-team-score.victory{
	color:#33f94a;
}
.r-home-team.lose, .r-opponent-team.lose{
	opacity:0.5;
	text-decoration:line-through;
}
.versus{
	width: 50px;
	margin: 0px auto;
	opacity: 50;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	position: relative;
	top: 26px;
	opacity:0.5;
}

.match-maps {
	padding: 35px 0;
	margin-bottom: 10px;
	background: -webkit-radial-gradient(top,#b12419,#381213,#140d11);
    background: radial-gradient(at top,#b12419,#381213,#140d11);
}

.map-image p {
	display: none;
}

.match-info {
	text-align: left;
	margin-top: 0;
}

.match-info i {
	margin-left: 20px;
}

.match-info i:first-of-type {
	margin-left: 0;
}

.match-map.span3{
	float:left;
	width:21.4%;
	margin-bottom:40px;
}
.match-map .map-image{
	margin:0 auto;
	position: relative;
}
.match-wrap{
	float: left;
	line-height: 10px;
    margin-bottom: 0;
}
.clan1img{
	float:left;
	max-width: 35px!important;
}

.match-page {
	text-align:center;
}

.match-page .match-map {
	display:inline-block;
	max-width: 110px;
	margin-right: 20px;
}

.match-page .match-map:last-child {
	margin-right:0;
}

.match-map .map-image img{
    width: 110px;
    height: auto !important
}
.match-map .map-score{
    font-size: 12px;
    font-weight: bold;
    padding: 5px 14px;
    margin-top: 8px;
    margin-right: 6px;
    color: #fff;
    border-radius: 3px;
    border: 1px solid transparent;
    text-align: center;
    box-shadow: none;
    display: inline-block;
}

.match-map .map-score:last-child {
	margin-right: 0!important;
}

.win {
	background-color: #a5d808;
}

.lose {
	color: #ff3000;
}

.match-maps .loose {
	background-color: #ff3000;
}
.map-title{
    position: absolute;
    padding: 7px;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    text-shadow: 0 0px 1px #000;
    text-align: center;
    background: rgba(0,0,0,.5);
    left: 0;
}

.match-page .match-description{
	padding: 30px 20px 30px 20px;
    background: #fff;
    text-align: left;
}
.match-description-body{
	line-height:24px;
	color:#333;
}

.match-page ul.match-props li{
	display: inline-block;
	margin-right: 25px !important;
}

.match-page ul.match-props {
	margin-bottom: 15px !important;
}
.matchimages *{
	float:left;
}
.matchimages{
	margin-right:40px;
	float:left;
}
.matchimages .matchpage-versus{
    margin: 65px 10px;
    font-size: 32px;
    font-weight: bold;
    line-height: 33px;
    border-top: 4px solid;
    border-bottom: 4px solid;
}
.matchimages img{
	border: none;
	width: 92px;
}

.team-img-wrapper {
	position: relative;
	margin: 40px;
}

.matchimages .team-img-wrapper:before {
    content: '';
    position: absolute;
    left: -4px;
    top: -4px;
    background: url(../img/img-frame.png);
    width: 109%;
    height: 109%;
}

.m-info {
	float: left;
    padding: 45px 0;
}

.match_title {
    font-size: 20px;
    font-weight: bold;
    color: #383838;
}

.scores-wrapper {
    overflow: hidden;
    display: inline-block;
    position: relative;
    float: right;
    padding: 25px 0 25px 40px;
    margin: 33px 20px 3px 0;
}

.scores-wrapper:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-left: 1px solid #000;
	opacity: .38;
}
/* Next match widget */

.nextmatch_widget h3{
	float: none;
    text-align: left;
    border-radius: 0;
    text-transform: uppercase;
}

.nextmatch_widget{
	padding:0px;
	background-image: url(../img/stripe.png);
	background-repeat: repeat;
	background-position: left center;
}
.nextmatch_widget .wcontainer{
	padding:0;
	background:transparent;
}
.nextmatch_wrap{
	padding:30px 15px 25px 15px;
	background-image: -webkit-linear-gradient(rgba(235,45,28,.22), transparent); /* For Safari 5.1 to 6.0 */
	background-image: -o-linear-gradient(rgba(235,45,28,.22), transparent); /* For Opera 11.1 to 12.0 */
	background-image: -moz-linear-gradient(rgba(235,45,28,.22), transparent); /* For Firefox 3.6 to 15 */
	background-image: linear-gradient(rgba(235,45,28,.23), transparent); /* Standard syntax */
	background-color: #000;
	text-align: center;
	position: relative;
	color: #ccc;
}

.nextmatch_wrap .teamwrapper {
	display: inline-block;
}

.nextmatch_wrap .home {
	margin-right: 65px
}

.nextmatch_wrap .away {
	margin-left: 65px
}

.nextmatch_wrap .teamwrapper span {
	display: block;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.nextmatch_wrap .teamwrapper hr, .r-home-team hr, .r-opponent-team hr {
	position: relative;
	margin-top: 7px;
    margin-bottom: 12px;
    border: 0;
    border-top: 1px solid #523c39;
    width: 55%;
}

.nextmatch_wrap .teamwrapper hr:after, .r-home-team hr:after, .r-opponent-team hr:after {
	content:'';
	height: 3px;
	width: 50%;
	position: absolute;
	left: 0;
	right: 0;
	margin: -2px auto;
}

.nextmatch_wrap img{
	width: 90px;
	height: 90px;
	border-radius: 5px;
}

.nextmatch_wrap .vsdiv, .results-main .vsdiv {
    display: inline-block;
    left: 0;
    right: 0;
    margin: 20px auto;
    width: 51px;
    position: absolute;
    padding: 10px 13px;
    border-radius: 50%;
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 4px #fff;
}

.results-main .vsdiv {
	box-shadow: 0 0 60px #eb2d1c;
	font-size: 20px;
	padding: 13px 15px;
	width: 53px;
}

.nextmatch_wrap .vsdiv:after, .results-main .vsdiv:after {
    content: '';
    position: absolute;
    left: -24px;
    top: -24px;
    height: 100px;
    width: 100px;
    border: 1px solid #400b05;
    border-radius: 50%;
    opacity:0.5
}

.nextmatch_wrap .vsdiv:before, .results-main .vsdiv:before {
    content: '';
    position: absolute;
    left: -8px;
    top: -8px;
    height: 67px;
    width: 67px;
    border: 1px solid #400b05;
    border-radius: 50%;
    opacity:0.5
}

.results-main .vsdiv:before, .results-main .vsdiv:after {
	border: 1px solid #eb2d1c;
	opacity: 0.3;
}

.results-main .vsdiv:before {
	left: -11px;
    top: -11px;
    height: 76px;
    width: 75px;
}

.results-main .vsdiv:after {
	opacity: 0.1;
	left: -27px;
    top: -28px;
    height: 108px;
    width: 107px;
}

.nextmatch_wrap .nm-date .gametitle {
    position: relative;
    padding: 6px 15px 7px 15px;
    display: inline-block;
    color: #fff!important;
    text-shadow: 1px 1px rgba(255,255,255,.3);
    font-size: 14px;
    line-height: 15px;
}

.nm-clans{
	position:relative;
	margin-top:20px;
	border-radius: 5px;
}
.nm-clans .versus{
	width:100%;
	position:absolute;
	text-align:center;
}
.nm-clans .r-home-team, .nm-clans .r-opponent-team{
	position:relative;
	top:auto;
}
.nm-clans .r-home-team{
	float:left;
	height: 75px;
	width: 75px;
	left: auto;
	margin-left: 30px;
}
footer .nm-clans .r-home-team{
	margin-left: 15px;
}
footer .nm-clans .r-opponent-team{
	margin-right: 15px;
}
.nm-clans .r-home-team span, .nm-clans .r-opponent-team span{
	height: 75px;
	display: table-cell;
	vertical-align: middle;
	font-size:14px;
	text-align:center;
	width:75px;

}
.nm-clans .r-opponent-team{
	float:right;
	height: 75px;
	width: 75px;
	left: auto;
	margin-right: 30px;
	right:auto;

}

.nm-date{
	text-align:center;
	margin:25px 0px 0px 0px;
	color:#999999;
	font-weight:bold;
	text-transform:uppercase;
}
.nm-date span{
	font-size:12px;
	text-transform:uppercase;
	display:inline;
}

.nm-date > hr {
	margin-top: -12px;
    width: 65%;
    border-top: 1px solid rgba(255,255,255,.16);
}

.nm-date div {
	display:inline-block;
	width: 23%;
	font-weight: normal;
    font-size: 14px;
}

.nm-date div span {
	display:block;
	font-weight: normal;
}


