body.woocommerce div.product div.summary{
	background: #fcfcfc;
    padding: 20px;
    width: 52%;
    height: 100%;
    min-height: 566px;
}
.woocommerce div.product h2{
	font-weight:bold;
	font-size:20px;
	text-transform:uppercase;
}
body.woocommerce div.product div.summary h1, .woocommerce #reviews h3{
	color:#333;
}


.woocommerce div.pp_pic_holder{
	z-index: 1000000;
}
.woocommerce div.pp_overlay{
	z-index: 999999;
}
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img{
	box-shadow: none !important;
}

.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3 {
	padding: 0 !important;
	font-size: 20px !important;
	font-weight: bold !important;
}

.woocommerce .add_to_cart_button, .woocommerce .product_type_variable, .woocommerce .product_type_grouped, .woocommerce a.button{
	position: absolute!important;
	bottom: -40px;
	top: auto!important;
	right: 0px;
}

.entry-summary p, .product_meta .posted_in, .woocommerce-cart .cart-collaterals .cart_totals tr th {
	color: #333;
}

.woocommerce div.product .woocommerce-tabs .panel {
	margin: 25px 0;
	padding: 25px;
    background-color: #fcfcfc;
    color: #333;
}

.woocommerce div.product .woocommerce-tabs .panel h2 {
	margin-top: 0;
}


.woocommerce .woocommerce-ordering select {
	background: none;
	border:0px;
	outline: none;
	    width: 133px;
}

.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
	color:#fff;
}

.orderby option {
	background-color: #5e1d1d;
	border: 1px solid
}

.woocommerce a.checkout-button,
.woocommerce-page a.checkout-button,
.woocommerce a.wc-backward,
.woocommerce-page a.wc-backward {
	position: static !important;
}

.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page #content input.button:hover, .woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a , .woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a {
	transition:all 0.35s ease-in-out !important;
	-moz-transition:all 0.35s ease-in-out !important;
	-webkit-transition:all 0.35s ease-in-out !important;
	-o-transition:all 0.35s ease-in-out !important;
	color: #FFFFFF !important;
	box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset !important;
	-moz-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset !important;
	-webkit-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset !important;
	-o-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset !important;
	text-transform: uppercase !important;
	font-weight:bold !important;
	display: inline-block !important;
	border-radius: 5px 5px 5px 5px !important;
	border:none !important;
	margin-top: 5px !important;
	font-size: 12px !important;
	padding: 12px 20px 12px 20px !important;
	text-shadow: none !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li, .woocommerce div.product .woocommerce-tabs ul.tabs li.active:before, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after{
	background: none !important;
	box-shadow: none !important;
	border: none !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before{
	border-bottom: none !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce #content div.product .woocommerce-tabs ul.tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li{
	padding: 0 !important;
	margin: 0;
	margin-right: 5px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active{
	margin-right: 10px;

}
.woocommerce .thumbnails{
	margin-left: 0px;
}


.woocommerce .related{
	border-bottom: 3px double rgba(0, 0, 0, 0.2);
}
.woocommerce div.product .woocommerce-tabs{
	padding-top:30px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.description_tab, .woocommerce div.product .woocommerce-tabs ul.tabs li.reviews_tab{
	margin-left:0px !important;
	margin-right:5px !important;
}
.cart-outer {
	position: absolute;
    right: 0;
    top: 15px;
}
.product-wrap {
	position:relative;
}
.product-wrap .button {
	position:absolute !important;
	bottom: 5px !important;
	right: 5px !important;
	opacity:0;

}
div[itemprop="aggregateRating"] .star-rating{
	display:none !important;
}
.product-wrap:hover > a.button{
	opacity:1;
}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{
	color:#999999 !important;
}
.woocommerce span.onsale, .woocommerce-page span.onsale{
	text-shadow:none !important;
}
.product-wrap .fa-shopping-cart{
	font-size:12px;
	margin-right:5px;

}
.fa-shopping-cart{
	color: #fff;
	font-size: 18px!important;
}

/* Woo commerce */

.cart-notification {
	position: fixed!important;
	right: 0px!important;
	top: 77px!important;
}
.widget_shopping_cart, .woocommerce .cart-notification, .cart-notification{
position: absolute;
right: 0px;
z-index: 100000;
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
-o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
width: 350px;
padding: 20px;
top:67px;
}
.woocommerce ul.cart_list li:first-child {
border-top: 0px;
}
.woocommerce ul.cart_list li {
border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li, .woocommerce-page ul.cart_list li, .woocommerce-page ul.product_list_widget li {
padding: 20px !important;
}
.woocommerce ul.product_list_widget > li:hover{
background-color:rgba(0, 0, 0, 0.03);
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img {
float: left !important;
margin-right: 10px !important;
width: 75px !important;
}
.woocommerce ul.product_list_widget li .quantity{
	margin-left: 0;
	width: 100px;
	margin-right: 0;
	float:left;
}
.woocommerce ul.product_list_widget li .quantity *{
	display:inline;
}
.woocommerce .widget_shopping_cart .total, .woocommerce-page .widget_shopping_cart .total{
	padding: 20px 0 20px 0 !important;
	text-align: center;
	font-size: 20px !important;
	border-bottom: 3px double rgba(0, 0, 0, 0.2);
	border-top: 3px double rgba(0, 0, 0, 0.2) !important;
}
.woocommerce .widget_shopping_cart .buttons{
	position:relative;
}
.woocommerce .widget_shopping_cart .buttons a.button{
	position: relative !important;
	top: 0px !important;
	left: 50px;
}
.woocommerce .widget_shopping_cart .buttons a.checkout{
	position: relative !important;
	top: 0px !important;
	left: 60px;
}
.widget_shopping_cart{
	display:none;
}
.cart-notification{
	right: 77px !important;
	top: 0px !important;
	padding: 22px !important;
	position:absolute !important;
	display:none;
}
.cart-outer:hover .widget_shopping_cart, .widget_shopping_cart:hover{
	display:block;
}
.woocommerce .widget_shopping_cart .total span{
	font-size:18px;
	margin-top:10px;
}

.woocommerce .product-wrap .add_to_cart_button, .woocommerce .product-wrap .add_to_cart_button:hover {
    background-image: url("../img/cart.png") !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    height: 35px !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    text-indent: -9999px !important;
    width: 35px !important;
}
.woocommerce .product-wrap .add_to_cart_button.added {
    background-image: url("../img/tick.png") !important;
}
.woocommerce .product-wrap .added_to_cart{
	display:none;
}
.woocommerce .star-rating, .woocommerce-page .star-rating{
	width: 85px !important;
}

.woocommerce .star-rating:before, .woocommerce-page .star-rating:before{
	font-size:14px !important;
}


.woocommerce .product-wrap .add_to_cart_button.added:before{
	background: none !important;
}
.cart-menu-wrap {
	text-align: center;
	padding-bottom: 26px;
}


.cart-icon-wrap *{
	display: inline;

}
.fa-shopping-cart{
		font-size:20px;
}
.cart-wrap{
    margin-left: 10px;
    padding: 2px 10px;
    border-radius: 100px;
    color: #40434e;
    font-weight: 700;
    color: #fff;
}

.woocommerce table.shop_table, .woocommerce table.shop_table td {
	border: 1px solid rgba(255,255,255,.3);
	    background: #f1f1f1;
}

.woocommerce table.shop_table thead tr, .woocommerce table.shop_table tr td span {
	color: #333;
}

.woocommerce div.product p.price span, .woocommerce div.product p.price{
	font-size:26px !important;
}
.woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty{
	height: 40px !important;
	margin-bottom:0px !important;
}
.woocommerce .quantity .minus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .minus{
	height: 20px !important;
}
.woocommerce .quantity .plus, .woocommerce #content .quantity .plus, .woocommerce-page .quantity .plus, .woocommerce-page #content .quantity .plus{
	height: 22px !important;
}
.woocommerce-message, .woocommerce-error, .woocommerce-info{
	border-top: 0 !important;
	text-shadow: none !important;
	color:#ffffff !important;
	box-shadow: none !important;
}
.woocommerce-message:before, .woocommerce-error:before, .woocommerce-info:before{
	background-color: transparent !important;
	box-shadow:none !important;

}
.woocommerce-message a.button, .woocommerce-error a.button, .woocommerce-info a.button, .woocommerce-message a.button:hover, .woocommerce-error a.button:hover, .woocommerce-info a.button:hover{
	border: 0 !important;
	right: 0;
	bottom: 4px;
	color: #515151 !important;
	right: 15px;
	background: #ebe9eb!important;
}
.woocommerce label{
	background: none;
	text-shadow: none;
	margin-top: 4px;
}
.cart_totals > table{
	float:right;
}
.woocommerce table.cart td.actions .button.checkout-button{
	margin-left:10px;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row input.input-text, .woocommerce-page form .form-row textarea{
	height:auto !important;
	padding:15px !important;
}
.woocommerce #payment ul.payment_methods li input, .woocommerce-page #payment ul.payment_methods li input{
	display: inline !important;
margin-right: 5px !important;
margin-top: -5px !important;
}

.woocommerce #payment ul.payment_methods label{
	display: inline;
}
.woocommerce #payment ul.payment_methods li, .woocommerce-page #payment ul.payment_methods li{
	margin: 10px 0px 20px 10px !important;
}

.page .woocommerce header{
	background-color: transparent !important;
}
.woocommerce-page .page{
	padding-bottom:50px;
	margin-top: -6px;
}

.woocommerce .products .star-rating, .woocommerce-page .products .star-rating, .woocommerce .star-rating, .woocommerce-page .star-rating {
	height:20px !important;
}
.woocommerce .add_review a.button{
	position: relative !important;
top: 0px !important;
}

.woocommerce .span8 ul.products li.product, .woocommerce-page .span8  ul.products li.product{
	width:29.6% !important;
}

.woocommerce ul.product_list_widget li, .woocommerce-page ul.product_list_widget li{
	padding:20px 0px 20px 0px !important;
}
.woocommerce ul.product_list_widget li:first-child, .woocommerce-page ul.product_list_widget li:first-child{
	padding-top: 0px !important;
}
.woocommerce ul.product_list_widget li:hover, .woocommerce-page ul.product_list_widget li:hover{
	background: none !important;
}

.woocommerce .price_slider_amount .price_label{
	float: right;
	padding: 5px 10px 5px 10px;
	background: rgba(0, 0, 0, 0.02);
	margin-top: 15px;
}
.woocommerce .price_slider_amount button, .woocommerce .price_slider_amount button:focus, .woocommerce .price_slider_amount button:active{
	margin-top:10px !important;
}

.woocommerce .price_slider_amount button:focus, .woocommerce .price_slider_amount button:active{
	outline:none;
	outline: 0;
	outline-style:none;
	outline-width:0;
}

.woocommerce .price_slider_amount .price_label span{
	display:inline;
	color: #453f4a;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range{
	box-shadow: none !important;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle{
	background: #ccc !important;
	width: 15px !important;
	height: 15px !important;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3) !important;
	box-shadow: 0 1px 1px rgba(0,0,0,0.3) !important;
	border:none !important;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content{
	background:#eee !important;
}
.woocommerce ul.products li.product > a, .woocommerce-page ul.products li.product > a{
	display:block;
	position:relative;
	    background: white;
    text-align: center;
    padding: 0px 0px 20px 0px;
}
.woocommerce .products .star-rating, .woocommerce-page .products .star-rating{
	position: absolute;
	right: 0px;
	top: 15px;
}
.woocommerce ul.products li.product .onsale{
	right:initial;
	left:0px;
}
#sidebar .woocommerce .star-rating span, #sidebar .woocommerce-page .star-rating span, #sidebar .woocommerce .star-rating:before, #sidebar .woocommerce-page .star-rating:before {
	font-size:14px !important;
}
#sidebar .woocommerce .star-rating, #sidebar .woocommerce-page .star-rating{
	margin: 10px 0px 0px 0px !important;
}

.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3{
	color:#333 !important;
}
.woocommerce div.product p.price, .price del span.amount{
	color:#999 !important;
	font-weight:normal !important;
	font-size:14px !important;
}
.woocommerce div.product p.price, .price span.amount{
	font-weight: bold;
	font-size: 18px;
}

a.page-numbers, .woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
	color: #fff!important;
}

.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
	padding: 10px 14px;
	color:white;
}

.woocommerce nav.woocommerce-pagination {
	text-align: left;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
    margin: 0 2.6% 2.6% 0 !important;
    padding: 1% !important;
    position: relative;
    width: 30.5% !important;
}
.woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li {
	width: 48% !important;
}
.woocommerce ul.products li.product.last, .woocommerce-page ul.products li.product.last{
	//margin-right:0px !important;
}
.woocommerce .showcoupon{
	color:rgba(0, 0, 0, 0.5) !important;
}
.woocommerce #coupon_code{
    height: 40px !important;
    width: 106px;
    margin-right: 25px;
    padding: 0 15px;
}
.woocommerce .star-rating span, .woocommerce-page .star-rating span, .woocommerce .star-rating:before, .woocommerce-page .star-rating:before {
	font-weight:normal;
}
.woocommerce .page-title{
	display:none;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
	text-align: right;
}
.woocommerce ul.products li.product .button{
	display:none !important;
}
.woocommerce-page.woocommerce ul.products li.first{
	clear:none;
}
body .woocommerce .widget_price_filter .price_slider_amount{
	line-height: 20px;
}

.woocommerce.widget .wcontainer{
	background:#fff;
	padding:20px;
}
.woocommerce ul.product_list_widget li a span{
	color: #333;
}
.woocommerce ul.product_list_widget li span{
display: inline-block;
    color: #737373;
}